html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

p {
    margin: 0;
}

body {
    @include rf400;
    font-size: 16px;
}

form {
    margin: 0;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-info {
    text-align: center;
    margin-top: 130px;
    padding: 140px 0px 120px 0px;
    .section-info__title {
        @include raf700;
        font-size: 48px;
        letter-spacing: 2px;
        color: #2a2a2a;
        margin-bottom: 40px;
    }
    .breadcrumbs__list {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: inline-block;
            font-size: 14px;
            letter-spacing: 0.5px;
            color: $brown;
        }
        li + li {
            margin-left: 35px;
        }
        div {
            width: 4px;
            height: 4px;
            background-color: $brown;
            border-radius: 50%;
            margin: 0px 16px 0px 16px;
        }
        span {
            opacity: 0.4;
        }
    }
}